@require "bootstrap.min.css"
@require "./node_modules/highlight.js/styles/docco.css"

.toc
  margin-top 20px

.content
  margin-top 20px

.definition
  border 1px solid #ddd
  padding 0 20px 2em 20px

.pull
  text-align right

pre
  background transparent
  margin 20px -20px
  padding 0
  border none

.hljs
  padding 21px

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus
  background-color #f8f8ff
  color #2780e3